.hw{
    text-transform: uppercase;
    font-weight: bold;
}

.ind{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

.nepal{
    font-style: oblique;
    font-weight: bolder;
    color: cadetblue;
}

.usa{
    background-color: aqua;
    color:lightpink;
    font-family: cursive;
}