.position-absolute {
    position: absolute;
    top: 20px;
    left: 30px;
  }

.position-fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

.position-relative {
    position: relative;
    top: 10px;
    left: 10px;
  }

.position-static {
    position: static;
  }
  